
<ul id="radius_nav">
  <li class="subs"><a href="#menu_item_1" onclick="showFormContact();">Contact Information</a></li>
  <li class="subs"><a href="#menu_item_2" onclick="showBorrowersContactPreferences();">Borrowers Contact Preferences</a></li>
  <li class="subs"><a href="#menu_item_3" onclick="showItem();">Items(s) to Borrow</a></li>
  <li class="subs"><a href="#menu_item_4" onclick="showBLegal();">Legal/Other</a></li>
</ul>