<div  class="application_bottom" >
  <p class="application_footer">
    www.echomarket.org
    &nbsp;&#169;copyright 2014:All rights reserved. Last updated: January 26, 2015.
   Please report application errors or application suggestions  <a href="#" onclick="window.location.replace('/contact/contact_us');" style="font-size:12px;color:red;">here</a>.
    This site is offered for goodwill, non-commercial purposes. No information gathered here will be shared or sold outside or within this web-site.
    Malicious or destructive data entries or use of this web site will not be tolerated.
    </p>
</div>