<div class="top" >
	<p>
		WHAT FOLKS HAVE SEARCHED FOR
	</p>

</div>

<div  style="float:left;margin-top:5px;margin-left:15px;background-color: #ECF4ED; width:45%; border-bottom: solid 1px indigo;padding:2px;">

	<%= get_existing_searches(1).html_safe %>
	<br/>
	<%= get_existing_searches(2).html_safe %>

</div>
