<%= form_tag({:action=>"about"}, {:class=>"about"}) do  %>

<style type="text/css">

  a.about {
    color:indigo;
  }

</style>


<div class="top" >
  <p><span class="logo_white" >The Echo Market</span></p>
  <p >About...</p>

</div>

<div class="column">
  <div >

    <p >Your goodwill resource for lending, borrowing and even trading or donating items.</p>
    <p >What kind of items? Echo Market supports the exchange of items that enhance, advance  and/or
      improve the lives of its participants. </p>

    <p >You are discovering Echo Market very early in its development and deployment phase.  There may be errors.  As you
      contribute I have made provisions for protect your privacy, e.g., all postings will need to be approved which may involve
      interaction with you via email. Otherwise, If you discover errors here, please contact us.</p>

<p>Types of lenders: A generous individual, an Emergency Service, an International NGO, a religious organization... Someone having a Yard Sale.  Anyone willing to provide item(s) to a borrower.  Lender can offer item(s) for free, for a small fee, for purchase, for donatation or trade, and they can specify conditions of the lending. </p>
<p>Types of borrowers: an individual, enterprise or organization with an urgent, one-time or regular-basis need to borrow. </p>


    <p >As a visitor to The Echo Market, you can view what's available for lending, or view what's needed from borrowers.  As guest you will be able to view further item details, but
    you will not be able to post items for either lending or borrowing.</p>
    <p >As a registered member of The Echo Market, you can view what's available for lending or borrowing, and Offer Items to Lend or
      Seek Items to Borrow.
    </p>

    <p >The Echo Market is a <%= link_to " non-profit ", {:controller => "home", :action => "donate", :class=>"about"} %>, goodwill-based site.</p>

    <div class="bottom">

      <%= link_to "Sounds interesting. I'd like to Register", user_register_url(:id=>'', :type=>'all') %>
    </div>
  </div>
</div>

<% end %>