<%= form_tag({:action=>"donate"}, {:class=>"donate"}) do  %>
<div class="top" >
  <p><span class="logo_white" >The Echo Market</span></p>
  <p>Please Donate...</p>
</div>

<div class="column" >
  
  <p style="margin-top:20px;" >
     Dear All!<br /><br />
    In early Fall 2014, a very large tree fell in my back yard.
    The vision of the fallen tree was actually quite remarkable, so huge, filling my back yard with this majestic green cloud. In the following days it took me a
    while to orient myself to that green cloud: just its presence, how to remove it, and what would I do with the wood.  I would need tools, like a large chain saw.<br /><br />
    A chain saw!
    I don't want to buy a chain saw for a one-time use, and I don't want to rent one in a duration too brief for me.  I don't know how to use a chain saw.  Anyway
    I don't have the money to either buy or rent one, and I don't have the strength or confidence to use one.  I needed to borrow a chain saw from someone that would help me use it.
    I also felt that the removal of this tree should be a community effort.<br /><br />
    I searched the Internet to find some source to borrow a chain saw.  Couldn't find one.  Then I started thinking that it is really odd that I could not
    find an Internet source toward humanitarian item sharing, especially given an urgent need...<br /><br />
    Thus,
    the Echo Market was born.  The purpose of the Echo Market is that one should be able to shout into the distant or nearby yonder to either offer or receive an item.
    The Echo Market is here to listen to that shout and respond to it.  <br /><br />
    I have been building the Echo Market in my spare time.  I feel very passionate about the notion of item sharing!  Took me a while to figure out how I wanted to implement that notion,
    and then matters of finding a meaningful web site name, and then just the building/designing/testing this web site. Now the Echo Market is generally functional but
    plenty more needs to be done.  
    <br /><br />
    In appreciation for what has been done so far, and toward that vision of making the Echo Market even more effective and far-reaching,
    I would like to humbly request your financial contribution, or a contribution of your time or your talent.  So please click my name to contact me.</p>

  <p id="donate">Sincerely,</p>
  <p id="donate">
    <a href="#" onclick="window.location.replace('/contact/contact_us');">Liz McGurty</a></p>
</div>

<% end %>