<p class="PetitionTitle" >www.echomarket.org email results</p>
<p class="PetitionTitle" >Email results</p>
<p class="PetitionTitle">If your email result was not successful, please verify your email address and try again. Otherwise I thank you for using www.echomarket.org.</p>
<p class="PetitionTitle"><%= link_to "Return to Home",  { :url => root_url } %></p>
