<style>
p {

margin:5px;
color:indigo;
font-weight:bold;
font-size:14px;
}

</style>


<script src="/javascripts/start_image.js" type="text/javascript"></script>
<%= form_tag(home_items_listing_url, {:id=>"start_image"})  do %>
  
<div class="div_centered_relative" style="text-align:center;    top:55px; left:50%;z-index:1">
    <span class="logo_small" style="text-align:center;">Your goodwill resource for lending, borrowing and even trading or donating some of life's necessities.</span>
  

<p>Welcome to the Echo Market.</p>
<p>You have arrived at the Echo Market very early in its development.  It has not been thoroughly tested in all internet browsers with respective versions, Firefox and Chrome seem best.</p>
<p>Types of lenders: A generous individual, an Emergency Service, an International NGO, a religious organization... Someone having a Yard Sale.  Anyone willing to provide item(s) to a borrower.  Lender can offer item(s) for free, for a small fee, for purchase, for donatation or trade, and they can specify conditions of the lending. </p>
<p>Types of borrowers: an individual, enterprise or organization with an urgent, one-time or regular-basis need to borrow. </p>


<br />
<%= submit_tag("Enter The Echo Market!", :class=>"submit_buttons", :style=>"z-index:2:") %>
  </div>

  <div class="div_centered" style="border:3px solid indigo;margin-top:140px;font-weight:bolder;z-index:0" >

    <canvas id="myCanvas" class="canvas_centered" width="940px" height="670px" >
      Your browser or document does not support the 'canvas' object, an object used for generating drawings.
    </canvas>

  </div>


<% end %>