<%= javascript_include_tag 'login.js' %>

<% if session[:register_type].blank? || session[:register_type]== 'all' %>
  <% @lender_type_string == "" %>
<% elsif session[:register_type] == "both" %>
  <% @lender_type_string == "LENDER/BORROWER" %>
<% else %>
  <% @lender_type_string = session[:register_type].upcase + " " %>
<% end %>
    <%= form_for @users, :url=> {:controller=>"user", :action => "forgot_password"}, :html=> {:class=>"forgot_password", :id=>"user_login_form"} do |nf| %>
      <div class="top" >
        <p><span class="logo_white" >The Echo Market</span></p>
       <p><%= @lender_type_string %> FORGOT PASSWORD</p>
      </div>
    
       <div   class="div_white" >&nbsp;</div>
    
     <div class="column">
        <label>Email:</label>
          
        <%= nf.email_field(:email,{:tabindex=>"1",:value=>"" }) %>
        <span class="error" id="reset_password_email_error">This is an error</span>
      </div>
      <div class="bottom">
        <a href="#" onclick="submitForgotPassword();">=> Please retrieve my password</a>
        <a href="#" onclick="showLogin();">=> Now I remember my password.</a>


      </div>

    <% end %>

   