#nav_v2 {
    display: none;
}

/*top level elements */
#nav, #nav ul {
    list-style:none outside none;
    margin: 0;
    padding: 0;
}
/*replaced rgba(59,88,152,1) with #6fa9a9
replaced indigo with indigo  */


#nav {
    background-color: rgb(78,105,162);
    background: -moz-linear-gradient(top, indigo 0%, #6fa9a9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, indigo), color-stop(100%, #6fa9a9));
    background: -webkit-linear-gradient(top, indigo 0%, #6fa9a9 100%);
    background: -o-linear-gradient(top, indigo 0%, #6fa9a9 100%);
    background: -ms-linear-gradient(top, indigo 0%, #6fa9a9 100%);
    background: linear-gradient(to bottom, indigo 0%, #6fa9a9 100%);

    border-bottom: 1px solid #3A4B7B;
    height: 22px;
    padding: 10px 0 10px 5px;
    position: relative;
     font-family: Verdana, sans-serif, 'Gotham Rounded A', 'Gotham Rounded B';
	
}
#nav > li {
    float: left;
    height: 22px;
    padding-right: 6px;
    position: relative;
    text-align: left;
}
#nav > li > a {
    border: 1px solid transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: -3px 0 0 -1px;
    padding: 0 1px 0 11px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
#nav > li:hover > a, #nav > a:hover {
    background-color: indigo;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    margin-right: -8px;
    padding: 0 9px 0 11px;
    position: relative;
    z-index: 1;
}
#nav > li.subs:hover > a {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    color: #000000;
    text-shadow: 0 0 transparent;
    z-index: 2;
}

/*top items separator */
#nav > li:after {
    background-color: pink;  /*  #405791; Color of the dividers */
    content: "";
    height: -17px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 1px;
}
#nav > li:first-child:after {
    background-color: transparent;
}
/*submenu */
#nav ul {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
/*    * border: 1px solid rgb(100, 100, 100);*/
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    display: none;
    left: -1px;
    margin-top: 2px;
    min-width: 200px;
    padding: 6px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}
#nav li:hover ul {
    display: block;
}
#nav ul li a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #232B37;
    display: block;
    font-size: 12px;
    line-height: -20px;
    padding: 0 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav ul li a:hover {
    background-color: #6D84B4;
    border-bottom: 1px solid yellow;  /* #3B5998; this is a Facebook blue */
    border-top: 1px solid #3B5998;
    color: #FFFFFF;
}


/*responsive rules*/
@media all and (max-width : 980px) {

    #nav {
        display: none;
    }
    #nav_v2 {
        background-color: rgb(78,105,162);
        border: 1px solid #3A4B7B;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        margin-bottom: 30px;
        padding: 6px;
        width: 100%;
    }
    #nav_v2 select {
        color: #FFFFFF;
        cursor: pointer;
    }
}
