#radius_nav_v2 {
    display: none;
}

/*top level elements */
#radius_nav, #radius_nav ul {
    list-style:none outside none;
    margin: 0;
    padding: 0;
}



#radius_nav {


    border-bottom: 1px solid #3A4B7B;
    height: 22px;
    padding: 10px 0 10px 5px;
    position: relative;
}
#radius_nav > li {
    float: left;
    height: 22px;
    padding-right: 4px;
    position: relative;
    text-align: left;
}
#radius_nav > li > a {
    border: 1px solid transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin: -3px 0 0 -1px;
    padding: 0 1px 0 11px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
#radius_nav > li:hover > a, #radius_nav > a:hover {
    background-color: indigo;
    color: #FFFFFF;
    margin-right: -8px;
    padding: 0 9px 0 11px;
    position: relative;
    z-index: 1;
}
#radius_nav > li.subs:hover > a {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    color: #000000;
    text-shadow: 0 0 transparent;
    z-index: 2;
}

/*top items separator */
#radius_nav > li:after {
    background-color: pink;  /*  #405791; Color of the dividers */
    content: "";
    height: -17px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 1px;
}
#radius_nav > li:first-child:after {
    background-color: transparent;
}
/*submenu */
#radius_nav ul {
    background-color: #FFFFFF;
    border: 1px solid rgba(100, 100, 100, 0.4);
/*    * border: 1px solid rgb(100, 100, 100);*/
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    display: none;
    left: -1px;
    margin-top: 2px;
    min-width: 200px;
    padding: 6px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}
#radius_nav li:hover ul {
    display: block;
}
#radius_nav ul li a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #232B37;
    display: block;
    font-size: 12px;
    line-height: -20px;
    padding: 0 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#radius_nav ul li a:hover {
    background-color: #6D84B4;
    border-bottom: 1px solid yellow;  /* #3B5998; this is a Facebook blue */
    border-top: 1px solid #3B5998;
    color: #FFFFFF;
}


/*responsive rules*/
@media all and (max-width : 980px) {

    #radius_nav {
        display: none;
    }
    #radius_nav_v2 {
        background-color: rgb(78,105,162);
        border: 1px solid #3A4B7B;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        margin-bottom: 30px;
        padding: 6px;
        width: 100%;
    }
    #radius_nav_v2 select {
        color: #FFFFFF;
        cursor: pointer;
    }
}
